/* Code tidied up by ScrapBook */
.ngg-galleryoverview { overflow: hidden; margin-top: 10px; width: 100%; clear: both; display: block ! important; }
.ngg-gallery-thumbnail-box { float: left; max-width: 100% ! important; }
.ngg-gallery-thumbnail { text-align: center; max-width: 100% ! important; background-color: rgb(255, 255, 255); border: 1px solid rgb(169, 169, 169); margin: 5px; }
.ngg-gallery-thumbnail a { display: block; margin: 4px; border: medium none; box-shadow: none; }
.ngg-gallery-thumbnail img { display: block; margin: 0px; padding: 0px; position: relative; max-width: 100% ! important; height: auto; }
.ngg-galleryoverview { margin-top: 40px; margin-bottom: 50px; transition: width 1s ease 0s, height 1s ease 0s, background-color 1s ease 0s, transform 1s ease 0s; min-height: 100px; }
.ngg-gallery-thumbnail-box.ngg-4-columns { width: 25%; float: left ! important; }
@media (max-width: 800px) {
}
@media (max-width: 600px) {
  .ngg-gallery-thumbnail-box.ngg-4-columns, .ngg-gallery-thumbnail-box.ngg-5-columns, .ngg-gallery-thumbnail-box.ngg-6-columns, .ngg-gallery-thumbnail-box.ngg-7-columns, .ngg-gallery-thumbnail-box.ngg-8-columns, .ngg-gallery-thumbnail-box.ngg-9-columns, .ngg-gallery-thumbnail-box.ngg-10-columns, .ngg-gallery-thumbnail-box.ngg-11-columns, .ngg-gallery-thumbnail-box.ngg-12-columns, .ngg-gallery-thumbnail-box.ngg-13-columns, .ngg-gallery-thumbnail-box.ngg-14-columns, .ngg-gallery-thumbnail-box.ngg-15-columns, .ngg-gallery-thumbnail-box.ngg-16-columns, .ngg-gallery-thumbnail-box.ngg-17-columns, .ngg-gallery-thumbnail-box.ngg-18-columns, .ngg-gallery-thumbnail-box.ngg-19-columns, .ngg-gallery-thumbnail-box.ngg-29-columns { width: 33.3333%; }
}
@media (max-width: 400px) {
  .ngg-gallery-thumbnail-box.ngg-3-columns, .ngg-gallery-thumbnail-box.ngg-4-columns, .ngg-gallery-thumbnail-box.ngg-5-columns, .ngg-gallery-thumbnail-box.ngg-6-columns, .ngg-gallery-thumbnail-box.ngg-7-columns, .ngg-gallery-thumbnail-box.ngg-8-columns, .ngg-gallery-thumbnail-box.ngg-9-columns, .ngg-gallery-thumbnail-box.ngg-10-columns, .ngg-gallery-thumbnail-box.ngg-11-columns, .ngg-gallery-thumbnail-box.ngg-12-columns, .ngg-gallery-thumbnail-box.ngg-13-columns, .ngg-gallery-thumbnail-box.ngg-14-columns, .ngg-gallery-thumbnail-box.ngg-15-columns, .ngg-gallery-thumbnail-box.ngg-16-columns, .ngg-gallery-thumbnail-box.ngg-17-columns, .ngg-gallery-thumbnail-box.ngg-18-columns, .ngg-gallery-thumbnail-box.ngg-19-columns, .ngg-gallery-thumbnail-box.ngg-29-columns { width: 50%; }
}
.ngg-galleryoverview.default-view { text-align: center; font-size: 0px ! important; letter-spacing: 0px ! important; }
.ngg-galleryoverview.default-view .ngg-gallery-thumbnail-box { display: inline-block; float: none; vertical-align: middle; }
.ngg-galleryoverview.default-view .ngg-gallery-thumbnail { background-color: transparent; border: medium none; margin: 0px; position: relative; }
.ngg-galleryoverview.default-view .ngg-gallery-thumbnail a { margin: 2px; box-shadow: none; }
.ngg-galleryoverview.default-view .ngg-gallery-thumbnail img:hover { opacity: 0.8; }
.ngg-galleryoverview.default-view .ngg-gallery-thumbnail img { margin: 0px auto; box-shadow: none; cursor: pointer; }
