/* Code tidied up by ScrapBook */
@media (min-width: 35.5em) {
}
@media (min-width: 50em) {
}
@media (min-width: 35.5em) {
}
@media (min-width: 50em) {
}
@media (min-width: 35.5em) {
}
@media (min-width: 50em) {
}
@keyframes pulsate {
0% { transform: scale(0.1); opacity: 0; }
50% { opacity: 1; }
100% { transform: scale(1.2); opacity: 0; }
}
@keyframes pulsate {
0% { transform: scale(0.1); opacity: 0; }
50% { opacity: 1; }
100% { transform: scale(1.2); opacity: 0; }
}
@keyframes pulsate {
0% { transform: scale(0.1); opacity: 0; }
50% { opacity: 1; }
100% { transform: scale(1.2); opacity: 0; }
}
