/* Code tidied up by ScrapBook */
@font-face {
  font-family: "shrift";
  src: url("11248.ttf");
}
@font-face {
  font-family: "shriftbold";
  src: url("11913.ttf");
}
@font-face {
  font-family: "shrifttext";
  font-style: normal;
  src: url("11919.ttf");
}
@font-face {
  font-family: "shriftnice";
  font-style: normal;
  src: url("11921.ttf");
}
@font-face {
  font-family: "PFDinDisplayProRegular";
  src: url("PFDinDisplayProRegular.ttf");
}
html, body, div, span, applet, object, iframe, blockquote, pre, a, abbr, ul, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; font: inherit; vertical-align: baseline; outline: medium none; }
html { height: 101%; }
body { font-size: 62.5%; line-height: 1; font-family: Arial,Tahoma,Verdana,sans-serif; }
h1, h2, h3, h4, h5, h6, p, ol, u, li { color: rgb(34, 65, 77); }
h1, .woocommerce-products-header__title.page-title { color: rgb(34, 65, 77); font-size: 22px; margin-bottom: 10px; }
h2 { font-size: 18px; color: rgb(34, 65, 77); margin-bottom: 10px; }
p, ol, u, li { font-size: 16px; line-height: 18px; }
.pages ol, .pages ul { margin-right: 20px; padding-left: 20px; }
input { outline: medium none; }
img { border: 0px none; max-width: 100%; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
.fulltopmenu { width: 100%; height: auto; background: rgb(61, 61, 63) none repeat scroll 0% 0%; overflow: hidden; }
.topmenu { width: 100%; height: auto; margin: auto; }
#menu-topmenu { padding-top: 35px; }
#menu-topmenu a { text-decoration: none; color: rgb(255, 255, 255); padding: 10px; line-height: 20px; font-size: 14px; }
#menu-topmenu li { position: relative; font-family: shrifttext; }
#menu-topmenu li:hover { background: rgb(94, 94, 94) none repeat scroll 0% 0%; transition: all 1s ease 0s; }
.fullheader { width: 100%; height: auto; background: rgb(46, 117, 189) none repeat scroll 0% 0%; overflow: hidden; }
.header { width: 100%; height: auto; margin: auto; overflow: hidden; padding: 20px 10px; box-sizing: border-box; }
.logo { width: 200px; height: auto; margin: auto; }
.logo img { width: 100%; }
.kalk { width: 200px; height: auto; margin: 3px auto; font-size: 14px; color: rgb(255, 255, 255); border: 1px dashed rgb(255, 255, 255); padding: 7px; vertical-align: middle; }
.zamer { width: 200px; height: auto; font-size: 14px; border: 1px dashed rgb(255, 255, 255); padding: 7px; color: rgb(255, 255, 255); margin: 3px auto; vertical-align: middle; }
.pages { font-family: Verdana ! important; }
.clock { width: 200px; height: auto; font-size: 13px; text-align: center; padding: 7px; color: rgb(255, 255, 255); margin: 3px auto; vertical-align: middle; }
.telephone { width: 220px; height: auto; font-size: 15px; padding: 7px; color: rgb(255, 255, 255); margin: 3px auto; text-align: center; vertical-align: middle; }
.kalk:hover, .zamer:hover { border: 1px solid rgb(255, 255, 255); transition: all 1s ease 0s; box-shadow: 0px 0px 80px rgb(255, 255, 255); }
.kalk a, .zamer a, .telephone a { color: rgb(255, 255, 255); text-decoration: none; font-family: shriftnice; }
.kalk a:hover, .zamer a:hover { border-bottom: 1px dashed rgb(255, 255, 255); transition: width 0.3s ease-in-out 0s; }
.telephone a:hover { color: rgb(255, 255, 255); border-bottom: 1px dashed rgb(255, 255, 255); font-family: shriftnice; transition: width 0.3s ease-in-out 0s; }
.kalk img { width: 32px; float: left; padding-right: 5px; box-sizing: border-box; margin-right: 20px; }
.zamer img { width: 32px; float: left; padding-right: 5px; box-sizing: border-box; margin-right: 20px; }
.clock img { width: 32px; float: left; padding-right: 5px; box-sizing: border-box; margin-right: 20px; }
.telephone img { width: 30px; padding-right: 5px; vertical-align: middle; box-sizing: border-box; margin-right: 5px; }
#menu-main { padding-top: 40px; }
#menu-main ul { background-color: rgb(255, 255, 255); position: relative; width: 250px; z-index: 9001; }
#menu-main a { text-decoration: none; color: rgb(26, 57, 69); text-transform: uppercase; font-weight: 900; padding: 7px 5px; line-height: 16px; font-size: 14px; }
#menu-main li { border-bottom: 1px dashed transparent; position: relative; font-family: shrifttext; text-align: left; }
#menu-main li ul li { display: block; text-align: left; }
#menu-main li:hover { box-sizing: border-box; color: rgb(46, 117, 189); transition: all 1s ease 0s; }
#menu-main a { color: rgb(26, 57, 69); }
#menu-main a:hover { color: rgb(46, 117, 189); transition: all 1s ease 0s; }
#menu-main li ul li:hover { padding-left: 10px ! important; }
#menu-main li:hover ul { display: block; }
.menu-item-has-children > a::after { content: " ▼"; }
.sub-menu li::before { content: " — "; }
.mainmenu { width: 100%; height: auto; margin: auto; overflow: hidden; text-align: center; }
.titleproduct { font-size: 20px; margin-bottom: 30px; margin-top: 50px; text-align: center; color: rgb(26, 57, 69); }
.fullfooter { width: 100%; height: auto; background: rgb(46, 117, 189) none repeat scroll 0% 0%; }
.footer { width: 100%; height: auto; padding: 20px; box-sizing: border-box; margin: auto; overflow: hidden; }
.logofooter { width: 100%; height: auto; float: left; padding: 10px; box-sizing: border-box; }
.logofooter img { width: 100%; }
.categor { width: 100%; height: auto; margin: auto; font-family: shrifttext; }
.categor ul li { width: 49%; display: inline-block; padding: 3px 0px; font-size: 18px; }
.categor a { color: rgb(255, 255, 255); }
.contactfooter { width: 100%; height: auto; margin: auto; }
.contactfooter img { width: 20px; padding-right: 10px; vertical-align: middle; float: left; }
.contactfooter div { padding: 10px 0px; font-size: 16px; color: rgb(255, 255, 255); }
.contactfooter a { color: rgb(255, 255, 255); }
.seti { width: 100%; height: auto; margin-left: 50px; float: left; }
.seti img { width: 30px; padding: 10px; }
.seti img:hover { opacity: 0.6; }
.obrblock { padding: 20px; overflow: hidden; box-sizing: border-box; width: 100%; height: auto; color: rgb(255, 255, 255); margin: auto; }
.fullobr { background-image: url("fontzakaz.jpg"); background-position: center center; background-repeat: no-repeat; background-attachment: fixed; background-size: cover; box-sizing: border-box; margin-top: 20px; }
.obrblock { text-align: center; }
.obrblock > .titleproduct { color: rgb(255, 255, 255) ! important; }
.putPhone { display: inline-block; padding: 20px 30px; width: 100%; box-sizing: border-box; font-size: 14px; }
.btn { display: inline-block; padding: 20px 30px; width: 100%; box-sizing: border-box; text-align: center; background: rgb(61, 61, 63) none repeat scroll 0% 0%; font-weight: 900; font-size: 14px; font-family: shrifttext; color: rgb(255, 255, 255); border: medium none; cursor: pointer; }
.btn:hover { display: inline-block; padding: 20px 30px; width: 100%; text-align: center; background: rgb(46, 117, 189) none repeat scroll 0% 0%; font-weight: 900; font-size: 14px; box-sizing: border-box; font-family: shrifttext; color: rgb(255, 255, 255); border: medium none; transition: all 1s ease 0s; }
.content { width: 100%; height: auto; min-height: 500px; margin: auto; padding: 20px; box-sizing: border-box; overflow: hidden; }
#content1 { display: none; }
.menu-btn { width: 44px; height: 44px; display: block; position: relative; float: right; cursor: pointer; border-radius: 30px; }
.menu-btn span, .menu-btn span::after, .menu-btn span::before { position: absolute; width: 25px; height: 2px; display: block; top: 50%; left: 50%; margin-bottom: -1px; margin-left: -12.5px; background: rgb(26, 57, 69) none repeat scroll 0% 0%; }
.menu-btn span::after, .menu-btn span::before { content: ""; display: block; transition: all 1s ease 0s; }
.menu-btn span::after { transform: translateY(7px); }
.menu-btn span::before { transform: translateY(-9px); }
#content2 { display: none; }
.menu-btn2 { width: 44px; height: 44px; display: block; position: relative; float: right; cursor: pointer; margin-top: 3px; border-radius: 30px; }
.menu-btn2 span, .menu-btn2 span::after, .menu-btn2 span::before { position: absolute; width: 25px; height: 2px; display: block; top: 50%; left: 50%; margin-bottom: -1px; margin-left: -12.5px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.menu-btn2 span::after, .menu-btn2 span::before { content: ""; display: block; transition: all 1s ease 0s; }
.menu-btn2 span::after { transform: translateY(7px); }
.menu-btn2 span::before { transform: translateY(-9px); }
.skrut { float: left; font-size: 20px; color: rgb(26, 57, 69); padding-top: 15px; padding-left: 30px; font-weight: 700; }
.skrut1 { float: left; font-size: 16px; color: rgb(255, 255, 255); padding-top: 15px; padding-left: 30px; }
.overlay { background: rgb(0, 0, 0) none repeat scroll 0% 0%; position: fixed; left: 0px; right: 0px; top: 0px; bottom: 0px; z-index: 1000; opacity: 0.5; }
.visible { background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: fixed; top: 0px; margin-top: 20px; overflow: hidden; z-index: 2000; width: 100%; padding: 0px; }
.modal1Title { font-size: 20px; padding: 20px; text-align: center; color: rgb(51, 51, 51); }
.forma45 { text-align: center; }
.putPhone5 { margin: 20px auto auto; padding: 10px; width: 250px; font-size: 16px; }
.putName5 { margin: auto; padding: 10px; width: 250px; color: rgb(51, 51, 51); font-size: 16px; }
.btn5 { width: 250px; background: rgb(46, 117, 189) none repeat scroll 0% 0%; border: medium none rgb(255, 137, 0); cursor: pointer; margin-bottom: 50px; color: rgb(255, 255, 255); padding: 10px; font-size: 18px; margin-top: 20px; text-transform: uppercase; }
#win23 button, #win2 button, #win5 button { float: right; line-height: 20px; margin: 0.2em 0.2em 30px; background: transparent none repeat scroll 0px 0px; color: rgb(51, 51, 51); font-weight: 700; border: medium none; font-size: 24px; border-radius: 30px; }
.footerslide { width: 100%; height: auto; margin: auto; padding: 20px; box-sizing: border-box; }
.footerslidename { font-size: 35px; margin-bottom: 30px; margin-top: 50px; text-align: center; color: rgb(26, 57, 69); }
.otz { width: 100%; height: auto; margin: auto; padding: 20px; box-sizing: border-box; }
.otzname { font-size: 35px; margin-bottom: 30px; margin-top: 50px; text-align: center; color: rgb(26, 57, 69); }
.blockotz { width: 100%; height: auto; margin: auto; font-size: 14px; text-align: center; line-height: 18px; background: rgb(238, 233, 233) none repeat scroll 0% 0%; padding: 20px; color: rgb(26, 57, 69); box-sizing: border-box; }
.blockotz img { width: 80px; margin-right: 30px; border-radius: 100px; }
.otzwriter { text-transform: uppercase; color: rgb(46, 117, 189); position: relative; display: block; text-align: center; font-size: 24px; margin: 40px auto; }
.otzwriter::before { content: ""; position: absolute; width: 50%; height: 1px; background: rgb(46, 117, 189) none repeat scroll 0% 0%; top: 40px; }
.owl-prev { background-image: url("arrow-left_001.png"); background-size: cover; width: 30px; height: 30px; color: transparent; position: absolute; top: 40%; z-index: 10; left: 10px; cursor: pointer; }
.owl-next { background-image: url("arrow-right_001.png"); background-size: cover; width: 30px; height: 30px; color: transparent; position: absolute; top: 40%; right: 10px; z-index: 10; cursor: pointer; }
.map { width: 100%; height: 400px; }
@media (min-width: 449px) and (max-width: 1199px) {
}
@media (max-width: 450px) {
}
@media (max-width: 500px) {
}
.deshevo { width: 100%; height: auto; overflow: hidden; box-sizing: border-box; }
.deshevo h2 { text-align: center; }
@media (max-width: 500px) {
  .bl6__wr, .bl6__wr1 { display: block; }
  .layout-bl6.bl6__item { width: 100%; height: auto; float: left; padding: 20px; box-sizing: border-box; text-align: center; }
}
@media (min-width: 501px) and (max-width: 1199px) {
  .bl6__wr, .bl6__wr1 { display: flex; }
  .layout-bl6.bl6__item { width: 33%; height: auto; float: left; padding: 20px; flex-basis: 33%; flex-shrink: 0; box-sizing: border-box; text-align: center; }
}
.layout-bl6.bl6__item img { text-align: center; width: 140px; }
.bl6__title { font-size: 16px; line-height: 22px; margin: 10px 0px 15px; color: rgb(34, 65, 77); font-weight: 700; }
.bl6__text { color: rgb(131, 139, 144); font-size: 14px; }
.deshevo h2, .deshevo h3 { text-align: center; }
.book ul, .book ol { display: block; list-style-type: disc; margin-block-start: 0px; margin-block-end: 0px; margin-inline-start: 0px; margin-inline-end: 0px; padding-inline-start: 0px; }
.book ul li, .book ol li { list-style: outside none none; margin: 0px ! important; }
.book ol li { display: flex; justify-content: space-between; border-bottom: 1px solid rgb(34, 65, 77); }
.book li div:nth-child(2) { flex: 1 0 0%; height: 1em; margin: 0px 0.4em; }
.book li div:nth-child(3) { color: rgb(0, 211, 235); }
.sliderblock h1::after, .titleproduct::after { content: ""; display: block; width: 50px; height: 2px; background: rgb(46, 117, 189) none repeat scroll 0% 0%; margin: 20px auto; }
.pages ol li, .pages ul li { padding: 10px; box-sizing: border-box; }
